#reset {
	position: relative;
	width: 250px;
	height: 30px;
	padding-top: 15px;
	border-radius: 5px;
	background: green;
	color: white;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	opacity: 0.8;
	cursor: default;
}

#rot{
	position: relative;
	top: -45px;
	left: 300px;
	background: #0099CC;
	height: 30px;
	width: 150px;
	padding-top: 15px;
	border-radius: 5px;
	color: white;
	font-family: sans-serif;
	text-align: center;
	vertical-align: middle;
	opacity: 0.8;
	cursor: default;
}

#one{
	position: relative;
/*	top: 30px;*/
	overflow: hidden;
	text-align: center;
	width: 600px;
/*	height: 320px;*/
	height: 100px;
	margin: 0 auto;
	background: orange;
	color: white;
	opacity: 1;
}

#dataContainerOrientation{ display: none;
	font-size: 10px;
}

#body_id {
	position: fixed;
	overflow: hidden;
	background: #ccc;
	color: #333;
/*	top: 100px;
	-moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
	transform: rotate(90deg);*/
}

#ave{
	position: relative;
	border-color: #aaa;
	width: 600px;
	height: 400px;
    border-width: 20px;	
    border-style:solid;
}

#ave1{
	position: relative;
	top: -210px;
	left: 20px;
	border-color: #777;
	width: 550px;
	height: 350px;
    border-width: 20px;	
    border-style:solid;
}

#ave2{
	position: relative;
	top: -390px;
	left: 40px;
	border-color: #444;
	width: 500px;
	height: 300px;
    border-width: 20px;	
    border-style:solid;
}

html {-webkit-text-size-adjust:none}

#rotate_square {
	position: relative;
	width: 100px;
	height: 100px;
	background: blue;
	opacity: 0.5;
/*  -webkit-transform: rotate(25deg);*/
}